
@model UrunStokTakip.Models.Kategori

@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class="form-group" method="post">
                <div style="margin-bottom:15px">
                    @Html.LabelFor(x => x.Ad)
                    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
                </div>

                <div style="margin-bottom:15px">
                    @Html.LabelFor(x => x.Aciklama)
                    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">Güncelle</button>
            </form>
        </div>
    </div>

</div>

